<!--
	This is an example phpunit.xml file to get you started
	Copy it to a directory, update the relative paths and rename to phpunit.xml
	Then to run tests cd into it's directory and just run
		phpunit
	(it'll automatically use any phpunit.xml file in the current directory)

	Any options you specify when calling phpunit will override the ones in here
-->
<phpunit colors="true" bootstrap="./vendor/autoload.php">
	<testsuites>
		<testsuite name="Tests">
                    <directory>./tests/</directory>
		</testsuite>
		<testsuite name="ListSorterPerformaceTests">
                    <directory>./tests/Algorithm/Sorter/ListSorterPerformaceTest.php</directory>
		</testsuite>
		<testsuite name="QuickSortTests">
                    <directory>./tests/Algorithm/Sorter/QuickSortListSorterTest.php</directory>
		</testsuite>
		<testsuite name="MergeSortTests">
                    <directory>./tests/Algorithm/Sorter/MergeSortListSorterTest.php</directory>
		</testsuite>
		<testsuite name="CompoundComparatorTests">
                    <directory>./tests/Algorithm/Comparator/CompoundComparatorTest.php</directory>
		</testsuite>
		<testsuite name="CurrentTests">
                    <directory>./tests/Algorithm/SortedListPriorityQueueTest.php</directory>
		</testsuite>
	</testsuites>

	<filter>
        <whitelist>
            <directory suffix=".php">./</directory>
            <exclude>
                <directory>config</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
